/** @format */

:root {
  --fontPangolin: "Pangolin", sans-serif;
  --colortext: rgba(27, 4, 72, 1);
}

.wrapper-cart-bg {
  background-color: aqua;
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.wrapper-cart-span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-router-span span:nth-child(1) {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: var(--fontPangolin);
  letter-spacing: 2px;
}

.wrapper-router-span span:nth-child(2) {
  color: var(--colortext);
  font-size: 20px;
  font-family: var(--fontPangolin);
  letter-spacing: 2px;
}

.text-cart {
  color: var(--colortext);
  font-size: 36px;
  font-family: var(--fontPangolin);
  letter-spacing: 2px;
}

.gap-span {
  width: 100px;
}

.wrapper-cart-container {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper-cart-left {
  max-width: 860px;
  max-height: 727px;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  scroll-behavior: smooth;
}

.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.card-cart {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid rgba(73, 215, 243, 1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.img-cart-card {
  max-width: 185px;
  width: 100%;
  object-fit: contain;
}

.card-params li {
  color: var(--colortext);
  font-size: 20px;
  font-family: var(--fontPangolin);
  line-height: 35px;
}

.price-cart-one,
.price-cart {
  color: var(--colortext);
  font-size: 20px;
  font-family: var(--fontPangolin);
}

.warapper-info-quantity {
  background-color: rgba(246, 243, 243, 1);
  max-width: 110px;
  width: 100%;
  border: 1px solid rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.btnMainus,
.btnPlus {
  transition: all 0.3s ease;
  cursor: pointer;
  width: 45px;
  height: 45px;
  color: var(--colortext);
  font-family: var(--fontPangolin);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.btnMainus:hover {
  color: rgba(27, 4, 72, 0.59);
}

.btnPlus:hover {
  color: rgba(27, 4, 72, 0.59);
}

.info-quantity {
  color: var(--colortext);
  font-size: 24px;
  font-family: var(--fontPangolin);
}

.btn-cart-card-delete {
  background-color: transparent;
  color: var(--colortext);
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-family: var(--fontPangolin);
  border: none;
}

.btn-cart-card-delete:hover {
  transform: rotate(90deg) scale(1.1);
  color: red;
}

.wrapper-cart-right {
  /*width: 520px;*/
  /*width: 50%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: stretch;*/
  gap: 48px;
  padding: 30px;
}

.wrapper-cart-top {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 52px 20px;
  display: flex;
  gap: 11px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.inputPromo {
  background-color: rgba(255, 251, 217, 1);
  max-width: 250px;
  width: 100%;
  text-align: center;
  outline: none;
  border: none;
  font-size: 28px;
  letter-spacing: 3px;
  font-family: var(--fontPangolin);
  padding: 30px 0;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-add-promo {
  background-color: rgba(73, 215, 243, 1);
  text-align: center;
  outline: none;
  border: none;
  font-size: 28px;
  letter-spacing: 3px;
  font-family: var(--fontPangolin);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper-cart-bottom {
  background-color: rgba(143, 237, 255, 1);
  border-radius: 20px;
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.list-cart-prices {
  width: 496px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid;
}

.list-cart-prices li {
  color: var(--colortext);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: var(--fontPangolin);
  letter-spacing: 3px;
}

.list-cart-right-bottom {
  width: 496px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.list-cart-right-bottom li {
  color: var(--colortext);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: var(--fontPangolin);
  letter-spacing: 3px;
}

.center-btn-cart {
  margin-top: 60px;
  max-width: 860px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.btn-clear-cart {
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--colortext);
  font-size: 24px;
  font-family: var(--fontPangolin);
  letter-spacing: 3px;
  padding: 5px 11px;
  border-radius: 12px;
  border: 0.5px solid;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-clear-cart:hover {
  background-color: rgb(234, 234, 234);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.imgSova {
  max-width: 244px;
  width: 100%;
  object-fit: contain;
}

.wrapper-deliviry {
  /*margin-top: 125px;*/
  min-height: 441px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-deliviry {
  color: var(--colortext);
  font-size: 34px;
  font-family: var(--fontPangolin);
  letter-spacing: 3px;
}

label {
  margin-top: 40px;
  color: var(--colortext, #000);
  font-size: 22px;
  font-family: var(--fontPangolin, sans-serif);
  display: flex;
  align-items: center;
  column-gap: 24px;
  cursor: pointer;
}

label p {
  color: var(--colortext);
  font-size: 30px;
  font-family: var(--fontPangolin);
  letter-spacing: 2px;
}

.inpuCkeck {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.ckeckMark {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
}

.inpuCkeck:checked + .ckeckMark {
  /*background-color: #1e1e1e;*/
}

.inpuCkeck:checked + .ckeckMark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(241, 28, 28);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1453px) {
  .card-params li {
    font-size: 18px;
  }

  .inputPromo,
  .btn-add-promo,
  .title-cart-right,
  .info-quantity,
  .price-cart-right {
    font-size: 18px;
  }

  .list-cart-right-bottom li {
    font-size: 18px;
  }
}

@media (max-width: 1399px) {
  .wrapper-cart-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .card-cart {
    column-gap: 10px;
  }

  .price-cart-one,
  .price-cart {
    font-size: 18px;
  }

  .warapper-info-quantity {
    max-width: 90px;
    width: 100%;
  }

  .btnMainus,
  .info-quantity,
  .btnPlus {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .img-cart-card {
    max-width: 120px;
    width: 100%;
    object-fit: contain;
  }

  .card-params li {
    font-size: 16px;
  }

  .warapper-info-quantity {
    max-width: 80px;
    width: 100%;
    height: 30px;
  }

  .btnMainus,
  .info-quantity,
  .btnPlus {
    font-size: 16px;
  }
}

@media (max-width: 625px) {
  .wrapper-cart-bg {
    padding: 10px;
  }

  .img-cart-card {
    max-width: 100px;
    width: 100%;
    object-fit: contain;
  }

  .wrapper-cart-top,
  .list-cart-prices,
  .list-cart-right-bottom {
    width: 100%;
    justify-content: center;
  }

  .list-cart-prices li {
    gap: 6px;
  }

  .card-params li {
    font-size: 14px;
  }

  .warapper-info-quantity {
    max-width: 70px;
    width: 100%;
  }

  .btnMainus,
  .info-quantity,
  .btnPlus {
    font-size: 14px;
  }

  .card-params li {
    font-size: 14px;
  }

  .inputPromo,
  .btn-add-promo,
  .title-cart-right,
  .info-quantity,
  .price-cart-right {
    font-size: 14px;
  }

  .list-cart-right-bottom li {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .center-btn-cart {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 532px) {
  .card-cart {
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
  }

  .btn-clear-cart {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .img-cart-card {
    max-width: 150px;
    width: 100%;
    object-fit: contain;
  }

  .text-deliviry {
    font-size: 20px;
  }

  label p {
    font-size: 17px;
  }

  .btnMainus,
  .info-quantity,
  .btnPlus {
    font-size: 14px;
  }

  .card-params li {
    font-size: 18px;
  }

  .inputPromo,
  .btn-add-promo,
  .title-cart-right,
  .info-quantity,
  .price-cart-right {
    font-size: 18px;
  }

  .list-cart-right-bottom li {
    font-size: 18px;
  }
}

@media (max-width: 510px) {
  .wrapper-cart-span {
    flex-direction: column;
    gap: 15px;
  }
  .inputPromo,
  .btn-add-promo {
    padding: 12px;
  }
}
